* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: gold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 15dvh;
}

header a{
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 6dvw;
    padding: 0;
}

main{
    display: flex;
    flex-direction: column;
    height: 80dvh;
    background-color: rgb(235, 235, 159);
    padding: 10px 20px;
    overflow-y: scroll;
}

main h1{
    font-size: 2.8dvw;
    font-weight: 700;
    margin-bottom: 5px;
}

main h2{
    font-size: 1.8dvw;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 20px;
}

main ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

main #download{
    color:black;
    font-size: 1.5dvw;
    font-weight: 600;
}

main #download:hover{
    color: red;
}

main ul li a{
    text-decoration: none;
    color: darkblue;
    font-weight: 700;
    font-size: 2dvw;
    margin-bottom: 10px;
    margin-right: 5px;
    font-style: italic;
}

main ul a:hover{
    color: red;
}

main ul li{
    margin-bottom: 5px;
}

footer{
    background-color: gold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px;
    height: 5dvh;
    font-weight: 700;
    font-size: 2.0dvw;
}
